
/* TODO: research about animation */

/* Universal */
*{
    box-sizing: border-box;
    webkit-box-sizing: border-box;
}

body{
    background-color: white;
    color: seagreen;

}

/* banner and header */
.hero{
    background-image: url(../img/hero.jpg);
    width: 100%;
    height: 360px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient( 89.4deg,  rgba(194,0,39,1) 0.8%, rgba(10,35,104,1) 99.4% );
    color: darkgoldenrod;
}

.header img{
    margin-top:6px;
    margin-left: 3px;
}

.header h1{
    font-size: 48px;
    display: inline-block;
}

.header h1 a{
    text-decoration: none;
    color: darkgoldenrod;
}

nav{
    flex: 1 0 auto;
}

nav ul{
    padding:31px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    
}
nav ul li{
    display: inline-block;
    margin-left: 25px;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color:burlywood;
    font-size: xx-large;
    font-weight: bold;
    
}



/* main content, section card */



.sectionCard{
    flex:1 1 100%;
    
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.sectionCard header{
    flex: 1 0 220px;
    border-right: 5px solid grey;
    max-width: 220px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.sectionCard aside{
    padding: 10px;
}


#avatar{
    flex: 1 1 100%;
    text-align: center;
}


.sectionHeader h1{
    text-align: right;
    margin-right: 17px;
    display: block;
    font-size: 28px;
}

#projectArea{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    
    justify-content:space-between;
}

.projectCard{
    opacity: 0.5;
    flex:1 1 auto;
    max-width: 49%;
    border: 5px solid green;
    overflow:hidden;
}

.projectCard img{
    width: 100%;
    height: 100%;
}

.projectCard:hover{
    cursor: pointer;
    opacity: 1;
}

#firstProject{
    flex:0 1 100%;
    max-width: 100%;
}








/* footer, credit and color switcher */
footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
}

footer h1{
    max-width:500px;
}

footer form{
    align-self: center;
    padding-top: 15px;
    margin-right: 10px;
}

#lightMode{
    background: url(../img/theme_light.png);
}

#darkMode{
    background: url(../img/theme_dark.png);
    
}

.colorSwitch{
    width: 16px;
    height: 16px;
    border:none;
    margin: 2.5px;
    opacity: .7;
}


.colorSwitch:active{
    opacity: 1;
}



/* Viewport */
@media screen and (max-width:1275px){
    .header h1{
        flex: 1 0 100%;
        text-align: center;
    }

    nav ul{
        justify-content:space-between;
    }

    .projectCard{
        flex: 1 1 100%;
        max-width: 100%;
    }

}
@media  screen and (max-width:840px){
    nav ul li{
        flex: 1 0 100%;
        line-height: 2;
    }
    nav ul{
        text-align: center;
    }
    nav{
        flex:1 1 100%;
    }
    .hero{
        display: none;
    }

    .sectionCard{
        flex-wrap: wrap;
    }
    .sectionCard header{
        flex: 1 1 100%;
        max-width: 100%;
        border-right: none;
        border-bottom: 5px solid grey;;
    }
    .sectionCard header h1{
        text-align: center;
    }
}